.book-btn{
    border-radius: 10px;
    background-color: #0071c2;
    color: white;
}
.hotel p{
    font-size: 16px;
}
.hotel-content-right{
    background-color: #ebf3ff;
}
.h-content-right-title{
    color: #555555;
}