/* common */
.primary-color {
  color: #003580;
}
.primary-bg-color {
  background-color: #003580;
}
.txt-white {
  color: white;
}
.bg-white {
  background-color: white;
}
/* common-end */

.navbar {
  height: 60px;

  display: flex;
  justify-content: center;
}
.navbar-container {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 25px;
}
.nav-buttons {
 display: flex;
 gap: 20px;
}
.nav-buttons Button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 8px;
}
